<div class="card-content">
  <div class="left">
    <% if @shop.present? %>
      <h3><%= @shop.name %></h3>
      <p><%= @shop.location %></p>
    <% else %>
      <p>Shop not found.</p>
    <% end %>
    <button class="card-button">Button</button>
  </div>
</div>
