
<div class="card">
  <%= image_tag roaster.image_url, alt: roaster.name, class: "card-image" %>
  <div class="card-content">
    <h2><%= roaster.name %></h2>
    <p><%= roaster.location %></p>
    <p><%= roaster.types_of_coffee %></p>
  </div>
</div>
