<div class="big-card">
  <div class="row">
    <div class="col-md-4">
      <div class="small-card">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1695482480/IMG_0425_xtbfav.heic" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="small-card">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1695482480/IMG_0425_xtbfav.heic" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="small-card">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1695482480/IMG_0425_xtbfav.heic" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text.</p>
        </div>
      </div>
    </div>
  </div>
</div>
