
<div class="card">
  <%# <%= image_tag @image_url, alt: @alt_text %>
  <div class="card-footer">
    <p class="description"><%= @description %></p>
    <%= link_to "Learn More", @link, class: "button" %>
  </div>
</div>
