<div class="custom-margin">
  <p class="d-inline-flex gap-1">
    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="true" aria-controls="multiCollapseExample1">Industry news, Prices and iniciatives</a>
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="true" aria-controls="multiCollapseExample2">Sustainability</button>
    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" aria-controls="multiCollapseExample1 multiCollapseExample2">All</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique ultrices urna, a posuere eros gravida eu. Nulla interdum mauris ac nibh aliquam consequat. Phasellus vel malesuada elit. Sed vel lectus eu neque cursus malesuada vitae vitae turpis. Curabitur id nisi ut justo ullamcorper suscipit nec ac justo. Etiam cursus, ligula vel euismod posuere, dui orci bibendum sapien, in sollicitudin quam est ac nulla. Morbi vitae magna eu libero tincidunt facilisis et eu risus. Vivamus non purus nec neque consequat suscipit. Vivamus ut arcu eu odio bibendum pulvinar. Nullam semper velit et tortor tempus, non euismod tellus facilisis. Fusce vitae mi auctor, sollicitudin purus a, tincidunt justo. Sed imperdiet, lectus at efficitur vulputate,
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique ultrices urna, a posuere eros gravida eu. Nulla interdum mauris ac nibh aliquam consequat. Phasellus vel malesuada elit. Sed vel lectus eu neque cursus malesuada vitae vitae turpis. Curabitur id nisi ut justo ullamcorper suscipit nec ac justo. Etiam cursus, ligula vel euismod posuere, dui orci bibendum sapien, in sollicitudin quam est ac nulla. Morbi vitae magna eu libero tincidunt facilisis et eu risus. Vivamus non purus nec neque consequat suscipit. Vivamus ut arcu eu odio bibendum pulvinar. Nullam semper velit et tortor tempus, non euismod tellus facilisis. Fusce vitae mi auctor, sollicitudin purus a, tincidunt justo. Sed imperdiet, lectus at efficitur vulputate,
        </div>
      </div>
    </div>
  </div>
</div>
