
<div class="card-content">
  <div class="left">
    <% if @roaster.present? %>
      <h3><%= @roaster.name %></h3>
      <p><%= @roaster.location %></p>
    <% else %>
      <p>Roaster not found.</p>
    <% end %>
    <button class="card-button">Button</button>
  </div>
</div>
