<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="background"></div>

    <%= render 'shared/navbar' %>

    <%= render 'shared/card' %>

    <%= render partial: 'shared/roaster_card', locals: { roaster: @roaster } %>

    <footer class="footer">
      <div class="social-icons">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1694982969/instagram_fkr0xf.svg" alt="Instagram Icon">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1694983048/youtube_ainyld.svg" alt="YouTube Icon">
        <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1694983101/whatsapp_gu9t28.svg" alt="Whatsapp Icon">
      </div>
    </footer>

</body>

</html>
