<%# DocType: HTML5 %>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee Concierge</title>
  <link rel="stylesheet" href="styles.css"> <!-- Add the path to your stylesheet here -->
</head>

<body>

  <header>
    <h1 class="title">Coffee Concierge</h1>
    <nav class="navbar">
      <ul class="links">
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= about_path %>">About</a></li>
        <li><a href="<%= contact_path %>">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="section">
    <h3 class="legend">Short legend "expand on hover"</h3>
    <article>
      <h2>The farms</h2>
      <img src="https://res.cloudinary.com/difj9msh3/image/upload/v1679426036/production/cuq30b7g3idsmfobhee47u8dgy9m.png" alt="Farms1">
    </article>

    <article>
      <h2 class="barista">Baristas</h2>
      <img src="#" alt="Baristas1"> <!-- Add the path to your image here -->
    </article>

    <article>
      <h2 class="newspaper">London's coffee culture by Us</h2>
      <img src="#" alt="London1"> <!-- Add the path to your image here -->
    </article>

    <article>
      <h2 class="devotion">Devotion</h2>
      <img src="#" alt="Devotion1"> <!-- Add the path to your image here -->
    </article>
  </section>

  <footer>
    <!-- Add your footer content here -->
  </footer>

</body>

</html>
