.navbar {
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #4b2c20, #d3a180);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropbtn {
      background-color: #8d8f91;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      padding: 12px;
      margin-right: 34px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

      a {
        color: #242424;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      a:hover {
        background-color: #ddd;
      }
    }

    &:hover .dropdown-content {
      display: block;
    }
  }
}
