.card {
  border-radius: 5px;
  background-color: #f5f5dc;
  width: 300px;
  margin: 10px;

  .card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
  }

  .card-content {
    padding: 10px;

    h2, p {
      margin-bottom: 8px;
    }
  }
}
